body, html {
    padding: 0;
    margin: 0 auto;
    background-color: #eee;
}
*{
    font-family: arial;
    color: teal;
    font-size: 20px;
}
nav ul ul{
    display: none;
    position: absolute;
    margin-left: -35px;
    text-align: left;
    }
li{
    list-style-type: none;
}
nav > ul > li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
}
nav{
    width: 100%;
    margin: 0 auto;

}
nav ul{
    text-align: center;
}
nav ul li:hover ul{
    display: block;
}
