﻿    @media screen and (min-width: 941px)       
     {
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            font-size: 25px;
        }  
          header{
              text-align:center;
          }
          .logo{width: 40%;}
  
          nav{
              height: 100%;
              background-color: #db9128;
              border-radius: 10px;
          }  
      #container {
          width: 900px;
          margin: 0 auto;
          padding: 15px;
          border: 1px solid #eee;
          border-radius: 0 0 20px 20px;
          background-color: #fff;
          box-shadow: #e0e0e0 4px 4px 10px;
      }
  
      .logo {
          width: 350px;
          margin: 0 auto;
          display: block;
          position: relative;
      }
  
      nav {
          width: 100%;
          height: 50px;
          position: relative;
          top: 10px;
          background-color: #db9128;
          border-radius: 10px;
      }
  
          nav ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              height: 100%;
          }
  
          nav li {
              display: block;
              height: 50px;
              float: left;
              padding-right: 20px;
              padding-left: 20px;
              margin: 0 auto;
              border-right: 1px solid #fff;
          }
  
          nav a {
              text-decoration: none;
              font: bold 15px Verdana;
              color: #fff;
              line-height: 45px;
              height: 50px;
          }
  
          nav li:hover {
              opacity: 0.8;
              background-color: #eee;
          }
  
          nav li:first-child:hover {
              border-radius: 10px 0 0 10px;
          }
  
      #centro {
          height: auto;
          padding: 30px;        
      }
  
      #colonna_sx {
          float: left;
          width: 420px;
      }
  
          #colonna_sx img {
              float: left;
              width: 200px;
              margin: 10px;
              box-shadow: #808080 3px 3px 10px;
          }
  
          #colonna_sx p, ul {
              font: 14px Arial;
              text-align: justify;
              color: #000;
          }
  
      #colonna_dx {
          float: right;
          width: 420px;
      }
  
          #colonna_dx img {
              float: left;
              width: 200px;
              margin: 10px;
              box-shadow: #808080 3px 3px 10px;
          }
  
          #colonna_dx p, ul {
              font: 14px Arial;
              text-align: justify;
              color: #000;
              list-style-type: square;
          }
  
      #colonnaUnica {
          padding-top: 10px;
          clear: both;
      }
  
          #colonnaUnica img {
              width: 300px;
              float: right;
              margin: 10px;
              box-shadow: #808080 3px 3px 10px;
          }
  
          #colonnaUnica p, ul {
              font: 14px Arial;
              text-align: justify;
              color: #000;
              list-style-type: square;
          }
  
      footer {
          color: #eee;
          width: 100%;
          margin-top: 30px;
      }
  
          footer p {
              text-align: center;
              font: 15px Arial;
              font-style: italic;
              color: #808080;
              font-weight: bold;
          }     
    }

    @media screen and (min-width:180px) and (max-width:940px){
        body{
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            font-size: 20px ;
        }     
            
        header{
            text-align: center;
        }

        .logo{
            width: 40%;
        }

        nav{
           height: 100%;
           background-color: #db9128;
           border-radius: 10px;
           width: 100%;
        } 

        nav li {
            list-style-type: none;
            display: block;
            text-align: center;
            height: 28px;
        }

        nav a {
            text-decoration:none ;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color:white;
        }

        #colonna_sx img, 
        #colonna_dx img, 
        #colonnaUnica img{
            width: 100%;
        }

        footer {
            text-align: center;
            font-weight: bold;
        }

       }