@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

@media screen and (min-width:0px) and (max-width: 479px)
 {

p{text-align: left; 
    font-size: 15px;  
}

h3{text-align: left;
font-size: 15px;}

main h1 {text-align: left;
color:bold blue;}

h1{
    color: rgb(10, 165, 165);
}

h2{
    color: aqua;

}


main img{
    display: none;
}

header img{display: none;}

#prima button {
    margin: 15px;
    padding: 10px;
    width: 40%;
    height: 50px;
    background-color: rgb(255, 57, 57);
    border-radius: 3px;
    border: none;
    color: white;
}
 }

    


@media screen and (min-width:480px) 
 {


* {
    margin: auto 0;
}

header {
    background-color: black;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 2px 2px;
    
   
}

header img {
    height: 50px;
}

main {
    text-align: center;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

p {
    font-family:"Ubuntu" ;
    font-size: 20px;
}

h1, h2, h3 {
    color: rgb(93, 156, 185);
    font-family: "PT Serif"  ;
}

.testo {
    padding: 30px;
}

#prima {
    padding: 30px;
    height: auto;
    background: url("../images/banner.jpg");
    background-size: cover;
}

#prima button {
    margin: 15px;
    padding: 10px;
    width: 40%;
    height: 50px;
    background-color: rgb(255, 57, 57);
    border-radius: 3px;
    border: none;
    color: white;
}

#prima p, #seconda p, #terza p, #quarta p {
    margin: 20px;
}

#seconda {
    padding: 30px;
    height: auto;
}

#seconda img {
    border-radius: 50%;
    text-align: center;
    height: 300px;
}

#terza {
    padding: 30px;
    color: white;
    background-color: rgb(255, 57, 57);
}

#terza h2 {
    color: white;
}

#terza p:last-child {
    margin-top: 0px;
}

#quarta{
    padding: 30px;
    height: auto;
}

#quarta div {
    border: rgb(204, 204, 204) 1px solid;
    margin-bottom: 30px;
}

h3 {
    margin-top: 15px
}

#quarta div img {
    width: 100%;
    background-size: cover;
}

footer>h2 {
    color: white;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(35, 166, 218);
    color: white;
    height: auto;
    text-align: center;
    padding: 30px;

    
}
footer p:last-child{
    margin-top: 15px;
    border-top: 1px solid white;
}
}