header{
    background-color: rgb(151, 227, 229);
    color: rgb(6, 2, 8);
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
header p:last-child{color: blue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;}


article >p {text-align: center;
font-weight: bolder;
font-size: 20px;
}

#DivPersonali p:last-child{
text-align: right;}

#primocompetenze {text-align: center;
font-weight: bold; font-size: 20px;}


#Studi p:first-child {text-align: center;
    font-weight: bolder;
    font-size: 20px;}
#competenze {background-color: royalblue;}
#conoscenze {background-color: seagreen(209, 209, 209);}
section p:first-child {text-align: center;
font-weight: bolder;
font-size: 20px;}

footer{background-color: rgb(3, 25, 92);}
footer div{text-align: center;}
footer p:last-child {text-align: center;}

