body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
}
hr {display: none;}

header {
    background-color: lavender;
    text-align: center;
    border-bottom: 7px solid midnightblue ;
}
header h2 {
    color: midnightblue;
    text-transform: uppercase;
    font-size: 1.1rem;
} 

#content {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 1em;
}
section { 
    border-bottom: 1px dashed #333;
    margin-bottom: 3em;
}
section h2 {
    text-align: center;
}

blockquote {
    background-color: transparent;
    text-align: right;
    font-style: italic;
}
strong {
    color: midnightblue;
}

@media screen and (min-width:768px) {
    #content section article {
        display: flex;
        justify-content: center;
    }
    #content section article div {
        margin: 0 1em 1em;
        border-radius: 20px;
    }
    
}

.tecniche {
    background-color:lavender;
    padding: 0.5em;
}
.tecniche p.button {
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(92, 5, 92);
    color: white;
    cursor: pointer;
}
.tecniche ul {
    margin: 0;
    padding: 0;
}
.tecniche ul li {
    list-style: none;
    margin-bottom: 10px;
}

.button:hover + ul li {
    width: 100%;
    border-radius: 3px;
    background-color: #82bcff;
    display: flex;
    justify-content: space-between;
    animation-name: myskills;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.tecniche ul li:nth-child(3) {
    width: 80%;
}
.tecniche ul li:nth-child(4) {
    width: 60%;
}

@keyframes myskills {
    0% {width:0}
    100%{max-width: 100%;}

}

.operative {
    background-color: rgb(248, 241, 176);
    padding: 0.5em;
}

footer {
    background-color: rgb(14, 14, 102);
    border-top: 7px solid lavender;
    color: #f5c6c6;
    padding: 0 1em;
    text-align: center;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
